/* Setting
------------------------------*/
@import "@acab/reset.css";
/* Base
------------------------------*/
body {
  color: #d97700;
  font-size: 17px;
  font-family: "m-plus-1p", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.9411764706;
}

.zoom {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9998;
}
.zoom button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  border: 2px solid #d97700;
  background-color: #fff;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: scroll;
  scrollbar-width: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.container::-webkit-scrollbar {
  display: none;
}
.container:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.container__inner {
  display: grid;
  grid-template-columns: 19.8% 18.8% 46% 9.4%;
  grid-template-rows: 15.6666666667% 24% 37.5% 12.8333333333%;
  grid-column-gap: 2%;
  grid-row-gap: 3.3333333333%;
  transform-origin: left top;
  width: 5000px;
  aspect-ratio: 5/3;
  transform: 0.2s;
}

/* .area01
-------------------------*/
.area01 {
  grid-area: 3/3/4/4;
  display: grid;
  grid-template-columns: 40.4347826087% 55.2173913043%;
  grid-template-rows: 92% 8%;
  gap: 0 4.347826087%;
}

.no01 {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 8.6021505376% 21.0752688172% 1fr;
  gap: 0;
  padding-bottom: 4.3010752688%;
  background: url(../images/01_number.svg) no-repeat right bottom 12%/24%;
}
.no01::before {
  grid-area: 1/1/4/2;
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #d97700;
}
.no01__tit01 {
  grid-area: 1/2/4/3;
  width: 89.7959183673%;
}
.no01__pic01 {
  grid-area: 1/3/2/4;
}
.no01__tit02 {
  grid-area: 2/3/3/4;
  margin: 4.3010752688% 0;
}
.no01__txt01 {
  grid-area: 3/3/4/4;
}

.no05 {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 6.2992125984% 1fr;
  gap: 0;
  padding-top: 9.4488188976%;
  background: url(./images/05_number.svg) no-repeat right 10% bottom 78%/24%;
}
.no05::before {
  grid-area: 1/1/4/2;
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #d97700;
}
.no05__tit01 {
  grid-area: 1/2/2/3;
}
.no05__txt01 {
  grid-area: 2/2/3/3;
  margin-top: -24%;
}
.no05__img01 {
  grid-area: 3/2/4/3;
}

.news {
  grid-area: 2/1/3/3;
}

/* .area02
-------------------------*/
.area02 {
  grid-area: 1/3/3/5;
  display: grid;
  grid-template-columns: 3.4843205575% 22.2996515679% 25.0871080139% 38.6759581882%;
  grid-template-rows: 87.984496124% 4.2635658915%;
  gap: 7.7519379845% 3.4843205575%;
}
.area02__loop {
  grid-area: 2/1/3/5;
  overflow: hidden;
}
.area02__loop-inner {
  display: flex;
  width: 176%;
  height: 100%;
}
.area02__loop-item01, .area02__loop-item02 {
  width: 50%;
  margin-right: 1.5em;
}

.object {
  grid-area: 1/1/2/2;
  overflow: hidden;
  position: relative;
}
.object img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.no02 {
  grid-area: 1/2/2/3;
  padding-top: 7.8125%;
  background: url(../images/02_number.svg) no-repeat right 5% bottom 60%/52%;
}
.no02::before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 6.25%;
  padding-bottom: 6.25%;
  background-color: #d97700;
}
.no02__tit01 {
  padding: 0 2.34375%;
}
.no02__img01 {
  padding: 0 2.34375%;
}
.no02__txt01 {
  margin: -36% 0 7.8125%;
  padding: 0 2.34375%;
}

.instagram {
  grid-area: 1/3/2/4;
  padding-top: 6.9444444444%;
}
.instagram__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6944444444% 1.3888888889%;
}
.instagram__list img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.kohei {
  grid-area: 1/4/2/5;
  position: relative;
  z-index: 1;
  background: url(../images/kohei_img.svg) no-repeat right top;
}
.kohei__tit01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.5405405405%;
  transform: translate(20%, 150%);
}
.kohei__tit01 img {
  width: 100%;
}
.kohei__profile {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(52%, 224%) rotate(-14deg);
}
.kohei__msg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 63.0630630631%;
  transform: translate(-6%, 102%);
}
.kohei__pic {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 53.3333333333%;
  transform: translate(-7%, -1%);
}

/* .area03
-------------------------*/
.area03 {
  grid-area: 2/1/5/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35.8024691358% 60.0823045267%;
  gap: 4.1152263374% 0;
}

.no03 {
  grid-area: 1/1/2/2;
  padding-left: 5.0505050505%;
  background: url(../images/03_number.svg) no-repeat right 0% bottom 68%/36%;
}
.no03::before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 4.2553191489%;
  padding-bottom: 4.2553191489%;
  background-color: #d97700;
}
.no03__tit01 {
  padding: 0 1.5151515152%;
}
.no03__tit02 {
  width: 57.3737373737%;
  margin: 10% 0 0 auto;
  padding: 0 1.5151515152%;
}
.no03__txt01 {
  margin-top: -29%;
  padding: 0 1.5151515152%;
}

.sachie {
  grid-area: 2/1/3/2;
  position: relative;
  padding-top: 30.303030303%;
  background: url(../images/sachie_img.svg) no-repeat left bottom/110%;
}
.sachie__tit01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 59.595959596%;
  transform: translate(56%, 188%);
}
.sachie__tit01 img {
  width: 100%;
}
.sachie__profile {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(124%, 316%) rotate(16deg);
}
.sachie__msg {
  position: absolute;
  top: 0;
  right: 0;
  width: 66.9696969697%;
  transform: translate(0%, -28%);
}
.sachie__pic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 63.0303030303%;
  transform: translate(10%, 0%);
}

/* .area04
-------------------------*/
.area04 {
  grid-area: 2/2/5/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25.9259259259% 69.9588477366%;
  gap: 4.1152263374% 0;
}

.no04 {
  grid-area: 1/1/2/2;
  background: url(../images/04_number.svg) no-repeat right 0% bottom 0%/36%;
}
.no04::before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 4.2553191489%;
  padding-bottom: 4.2553191489%;
  background-color: #d97700;
}
.no04__tit01 {
  padding: 0 1.5957446809%;
}
.no04__txt01 {
  margin-top: 3%;
  padding: 0 1.5957446809%;
}

.project {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: 8.5106382979% 23.4042553191% 50% 1fr;
  gap: 0;
  padding-bottom: 5.3191489362%;
  position: relative;
}
.project::before {
  grid-area: 1/1/3/2;
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #d97700;
}
.project__tit01 {
  grid-area: 1/2/3/3;
  width: 64.5454545455%;
}
.project__map {
  grid-area: 1/3/2/5;
}
.project__map-img {
  margin: -30% 0 7.8125%;
}
.project__list {
  grid-area: 2/3/3/4;
}
.project__list li {
  margin-bottom: 6%;
}
.project__list img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__loop {
  grid-area: 2/4/3/5;
  padding-left: 47.0588235294%;
  overflow: hidden;
}
.project__loop-inner {
  width: 29.4117647059%;
}
.project__loop-item01, .project__loop-item02 {
  margin-top: 0.8em;
}

/* .area05
-------------------------*/
.area05 {
  grid-area: 4/3/5/4;
  display: grid;
  grid-template-columns: 47.8260869565% 47.8260869565%;
  gap: 4.347826087%;
}

.no06 {
  display: grid;
  grid-template-columns: 7.2727272727% 66.3636363636% 1fr;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  gap: 0;
  background: url(../images/06_number.svg) no-repeat right 0% bottom 0%/28%;
  padding-bottom: 4.5454545455%;
}
.no06::before {
  grid-area: 1/1/3/2;
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #d97700;
}
.no06__tit01 {
  grid-area: 1/2/2/4;
  margin-bottom: 2%;
}
.no06__form01 {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.no06__form01 ul {
  margin-left: 4%;
}
.no06__form01 li {
  margin-top: 0.5em;
}
.no06__form01 input {
  display: none;
}
.no06__form01 input + span {
  display: flex;
  align-items: center;
}
.no06__form01 input + span::before {
  content: "";
  display: inline-block;
  min-width: 9.0909090909%;
  aspect-ratio: 1/1;
  margin-right: 0.5em;
  background: url(../images/06_check_off.svg) no-repeat left bottom;
  display: flex;
  align-items: center;
}
.no06__form01 input:checked + span::before {
  background-image: url(../images/06_check_on.svg);
}
.no06__img01 {
  grid-area: 2/3/3/4;
  width: 58%;
}

/* .area06
-------------------------*/
.area06 {
  grid-area: 1/1/2/3;
  padding-top: 2.4630541872%;
  overflow: hidden;
}
.area06__loop {
  display: flex;
  flex-wrap: wrap;
  width: 240%;
}
.area06__loop-item01, .area06__loop-item02 {
  display: flex;
  width: 50%;
}
.area06__loop-item01 li, .area06__loop-item02 li {
  width: 25%;
  padding: 0 0.4926108374%;
}
.area06__loop-item01 img, .area06__loop-item02 img {
  width: 100%;
}

/* .area07
-------------------------*/
.area07 {
  grid-area: 3/4/5/5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  padding-right: 10.6382978723%;
  overflow: hidden;
}
.area07 li {
  padding: 2.1276595745% 0;
}
.area07 img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */